<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    {% if vacation %}
    <!-- Headline News -->
    <div class="row">
      <div class="col-md-12">
    <h1>Latest Mars News</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
    <h3> {{vacation.headline}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
    <h5>{{vacation.text}}</h5>
      </div>
    </div>

    <!-- Featured image and facts table, titles -->
    <div class="row">
      <div class="col-md-8">
        <h1>Featured Mars Image</h1>
      </div>
      <div class="col-md-4">
        <h3>Mars Facts</h3>
      </div>
    </div>

    <!-- Featured image and facts table -->
    <div class="row">
      <div class="col-md-8">
        <img src="{{ vacation.featured_image }}" alt="Mars">
      </div>
      <div class="col-md-4">
        {{vacation.facts_table |safe}}
      </div>
    </div>

    <!-- Mars Hemispheres title -->
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h1>Mars Hemispheres</h1>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="{{vacation.hemisphere_images[0]['img_url']}}" alt="hemi">
          <h2> {{vacation.hemisphere_images[0]['title']}} </h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="{{vacation.hemisphere_images[1]['img_url']}}" alt="hemi">
          <h2> {{vacation.hemisphere_images[1]['title']}} </h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="{{vacation.hemisphere_images[2]['img_url']}}" alt="hemi">
          <h2> {{vacation.hemisphere_images[2]['title']}} </h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="{{vacation.hemisphere_images[3]['img_url']}}" alt="hemi">
          <h2> {{vacation.hemisphere_images[3]['title']}} </h2>
        </div>
      </div>
    </div>
   {% endif %}
  </div>
</body>

</html>